::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(142, 142, 143);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.gmnoprint,
.gm-style-cc {
    display: none;
}

.chakra-modal__content-container {
    position: static !important;
}

.chakra-avatar__initials {
    font-size: 14px !important;
    font-weight: 700 !important;
}
