::-webkit-scrollbar {
    width: 0px;
    height: 3px;
}

::-webkit-scrollbar:hover {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(142, 142, 143);
    border-radius: 8px;
    width: 0 !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.gmnoprint,
.gm-style-cc {
    display: none;
}

// for the bottom sheet overlay to be below the sheet
.chakra-modal__content-container {
    position: static !important;
}

// styling the bus/train number avatar
.chakra-avatar__initials {
    font-size: 14px !important;
    font-weight: 700 !important;
}
