.info {
    &-box {
        .item {
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &-text {
                font-weight: 500;
            }
        }
    }
}
